@using System.Threading.Tasks
@using Abp.Timing
@using Pgpg.Localization
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir=@(CultureHelper.IsRtl ? "rtl" : "")>
<head>
    <meta charset="utf-8" />

    <title>Pgpg</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    @* Fill these meta tags upon your project specification *@
    <meta content="Pgpg" name="description" />
    <meta content="Pgpg" name="keywords">
    <meta content="Pgpg" name="author" />

    <link rel="shortcut icon" href="~/favicon.ico">

    <link rel="stylesheet" href="~/fonts/fonts-open-sans.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fonts/fonts-ptsans-narrow.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fonts/fonts-sourcesans-pro.css" asp-append-version="true" />

    <environment names="Development">
        @* Bundled: wwwroot/view-resources/Views/_Bundles/frontend-libs[-rtl].min.css *@
        <link rel="stylesheet" href="~/lib/simple-line-icons/css/simple-line-icons.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/famfamfam-flags/dist/sprite/famfamfam-flags.css" asp-append-version="true" />
        <link rel="stylesheet" href="@(CultureHelper.IsRtl ? "~/lib/bootstrap-rtl/bootstrap-rtl.css" : "~/lib/bootstrap/dist/css/bootstrap.css")" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.css" asp-append-version="true" />

        @* Bundled: wwwroot/view-resources/Views/_Bundles/frontend-metronic[-rtl].min.css *@
        <link rel="stylesheet" href="~/metronic/assets/global/css/components@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true" />
        <link rel="stylesheet" href="~/metronic/assets/frontend/layout/css/style@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true" />
        <link rel="stylesheet" href="~/metronic/assets/frontend/pages/css/style-revolution-slider.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/metronic/assets/frontend/layout/css/style-responsive@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true" />
        <link rel="stylesheet" href="~/metronic/assets/frontend/layout/css/themes/red@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true" />

    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/_Bundles/frontend-libs@(CultureHelper.IsRtl ? "-rtl" : "").min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/view-resources/Views/_Bundles/frontend-metronic@(CultureHelper.IsRtl ? "-rtl" : "").min.css" asp-append-version="true" />
    </environment>

    @*@Html.IncludeStyle("~/metronic/assets/global/css/components-md" + (CultureHelper.IsRtl ? "-rtl" : "") + ".css")
        @Html.IncludeStyle("~/metronic/assets/global/css/plugins-md" + (CultureHelper.IsRtl ? "-rtl" : "") + ".css")*@

    <script type="text/javascript">
        @* This is used to get the application's root path from javascript.
        It's useful if you're running application in a virtual directory under IIS. *@
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

</head>
<body class="corporate">

    <div class="main">
        <div class="container text-center">
            @RenderBody()
        </div>
    </div>

    <environment names="Development">
        @* Bundled: TODO! *@
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>

    </environment>

    <environment names="Staging,Production">
        @* Bundled: TODO! *@
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        abp.localization.defaultSourceName = '@LocalizationSourceName';
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    <script type="text/javascript">
        App.setAssetsPath(abp.appPath + 'metronic/assets/');
    </script>

    <script>
        jQuery(document).ready(function () {
            if (CurrentPage) {
                CurrentPage.init();
            }
        });
    </script>
</body>

</html>
