@using System.Threading.Tasks
@using Abp.Application.Services.Dto
@using Pgpg.Authorization
@using Pgpg.Web.Areas.Admin.Startup
@using Pgpg.Web.Startup
@{
    ViewBag.CurrentPageName = AdminPageNames.Common.Country;
}
@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Areas/Admin/Views/Country/Index.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Areas/Admin/Views/Country/Index.min.css" asp-append-version="true" />
    </environment>
}
@section Scripts
{
    <environment names="Development">
        <script src="~/view-resources/Areas/Admin/Views/Country/_CreateOrEditModal.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Admin/Views/Country/Index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Areas/Admin/Views/Country/_CreateOrEditModal.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Admin/Views/Country/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Countries")</span> <small>@L("CountriesHeaderInfo")</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        @if (IsGranted(AppPermissions.Pages_Countries_Create))
        {
            <button id="CreateNewCountryButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewCountry")</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    
    <div class="portlet-body">
        <div id="CountriesTable"></div>
    </div>
</div>
