@using Pgpg.Web.Areas.Admin.Models.Common
@model IFeatureEditViewModel
<div class="feature-tree">
    @Html.Partial("~/Areas/Admin/Views/Common/_FeaturesTreeItem.cshtml", new FeatureTreeItemModel(Model, null))
</div>