@using Pgpg.Web.Areas.Admin.Models.Common
@model IPermissionsEditViewModel

<div class="permission-tree">
    @Html.Partial("~/Areas/Admin/Views/Common/_PermissionTreeItem.cshtml", new PermissionTreeItemModel(Model, null))
</div>